{% extends 'portfolio/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="uni-connect-wallet uk-section uk-section-large@m uk-panel uk-overflow-hidden uk-border-top">





                <!-- Page header -->
                <header class="uni-page-header">
                    <div class="uk-container">
                    	
                    	<h5  class="uk-h5 uk-h4@m uk-text-center">{{ app_user.user.email }}</h5>
                        
                        <h6 class="heading uk-h3 uk-h6@m uk-text-center">total asset : &dollar;{{ total|floatformat:4|intcomma }}</h6>

                    </div>
                </header>
                <div class="uk-margin-medium-top">
                    <div class="uk-container">
                        <div class="uk-panel uk-flex-column uk-flex-center uk-width-xlarge@m uk-margin-auto">
                            {% if messages %}
                            {% for message in messages %}
                                

                                <!-- Notification bar -->
                                <div class="uk-padding-xsmall uk-text-medium uk-text-bold uk-text-center uk-margin-remove uk-radius-remove uk-background-gradient uk-text-white" data-uk-alert>
                                    <button aria-label="Close" class="uk-alert-close" type="button" data-uk-close></button>
                                    <p class="uk-flex-middle uk-flex-center  uk-margin-remove uk-overflow-hidden"><small>{{ message }} </small></p>
                    
                                </div>    
        
                            {% endfor %}
                            {% endif %}
                            <div class="uk-margin-medium@m" data-uk-margin="margin: uk-margin-xsmall-top">
                            	<p  class="uk-button uk-button-medium uk-width-expand">
                                    <span class="uk-position-center-left uk-position-small"> name - <small>Price</small> </span>
                                    
                                    
                                    <b>balance</b>
                                    <b class="uk-position-center-right uk-position-small">total</b>
                                </p>
                            	{% for item in data %}

                                <a href="{% url 'wallet:send_canto_token' item.token_address %}" class="uk-button uk-button-medium uk-button-default uk-button-outline uk-width-expand">
                                    <span class="uk-position-center-left uk-position-small"> <img class="uk-icon-small" src="{{ item.logo }}" alt="" data-uk-svg loading="lazy"> {{ item.name }} <br><small style="font-size: 10px">${{ item.unit_price|floatformat:4|intcomma }}</small> </span>
                                    <br>
                                    
                                    <b>{{ item.balance|floatformat:4|intcomma }}</b>
                                    <p class="uk-position-center-right uk-position-small">${{ item.total_price|floatformat:4|intcomma }}</p>
                                </a>
                                {% endfor%}

                                <a data-hex="{{ app_user.wallet_address }}"  class="copy-btn uk-button uk-button-primary uk-width-1-1 "><i class="uk-icon-xsmall material-icons">wallet </i> {{ app_user.wallet_address|truncatechars:15 }}</a>
                                <p class="uk-text-center">Click on token to withdraw</p>
                                
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
  const copyBtns = [...document.getElementsByClassName('copy-btn')]
  let previous = null

  copyBtns.forEach(btn=> btn.addEventListener('click', ()=>{
    const number = btn.getAttribute('data-hex')
    navigator.clipboard.writeText(number)
    btn.textContent = 'address copied to clipboard'

    if (previous) {
      previous.textContent = 'already copied!!'
    }
    previous = btn
  }))
  
  
</script>

<script type="text/javascript">
  const copyBtn = [...document.getElementsByClassName('copy-btns')]
  let previous = null

  copyBtn.forEach(btn=> btn.addEventListener('click', ()=>{
    const number = btn.getAttribute('data-hex')
    navigator.clipboard.writeText(number)
    btn.textContent = 'copied to clipboard'

    if (previous) {
      previous.textContent = 'copied to clipboard'
    }
    previous = btn
  }))
  
  
</script>

{% endblock %}